In [ ]:
# Installing Packages
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# Importing Packages
from google.colab import drive
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StringType
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import col
import numpy as np
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Estimator
from scipy import stats
from pyspark.ml.evaluation import ClusteringEvaluator
import matplotlib.pyplot as plt
from pyspark.ml.clustering import KMeans
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.sql.functions import when

In [ ]:
# Mounting Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Creating spark session
spark = SparkSession.builder.appName("Project_3_part2").getOrCreate()

In [ ]:
# Creating merged_df
jan = spark.read.parquet("/content/drive/MyDrive/Project 3/yellow_tripdata_2018-01.parquet")
feb = spark.read.parquet("/content/drive/MyDrive/Project 3/yellow_tripdata_2018-02.parquet")
mar = spark.read.parquet("/content/drive/MyDrive/Project 3/yellow_tripdata_2018-03.parquet")
apr = spark.read.parquet("/content/drive/MyDrive/Project 3/yellow_tripdata_2018-04.parquet")
may = spark.read.parquet("/content/drive/MyDrive/Project 3/yellow_tripdata_2018-05.parquet")
jun = spark.read.parquet("/content/drive/MyDrive/Project 3/yellow_tripdata_2018-06.parquet")

merged_df = jan.union(feb).union(mar).union(apr).union(may).union(jun)
merged_df.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|
|       1| 2018-01-01 00:29:29|  2018-01-01 00:32:48|              3|          0.5|         1|                 N|         143|         143|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|
|       1| 2018-01-01 00:38:08|  2018-01-01 00:48:24|              2|          1.7|         1|                 N|          50|         239|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|                NULL|       NULL|
|       1| 2018-01-01 00:49:29|  2018-01-01 00:51:53|              1|          0.7|         1|                 N|         239|         238|           1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|                NULL|       NULL|
|       1| 2018-01-01 00:56:38|  2018-01-01 01:01:05|              1|          1.0|         1|                 N|         238|          24|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|                NULL|       NULL|
|       1| 2018-01-01 00:17:04|  2018-01-01 00:22:24|              1|          0.7|         1|                 N|         170|         170|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 10 rows

#### 5)Predict the fare of a taxi trip based on borough-specific factors such as pickup and drop-off boroughs, and analyze how fares vary across different NYC boroughs

In [ ]:
# Creating a function to get datetime information
def datetime_conversion(df, col, prefix):
    return df.withColumn(prefix+"_year", F.year(col)) \
             .withColumn(prefix+"_month", F.month(col)) \
             .withColumn(prefix+"_day", F.dayofmonth(col)) \
             .withColumn(prefix+"_hour", F.hour(col))\
             .withColumn(prefix+"_minute", F.minute(col)) \
             .withColumn(prefix+"_second", F.second(col)) \
             .withColumn(prefix+"_day_of_week", F.dayofweek(col))

In [ ]:
# Merging Dataframe
borough_mapping = spark.read.csv("/content/drive/MyDrive/Project 3/taxi_zone_lookup.csv", header=True, inferSchema=True)

pickup_mapping = borough_mapping.withColumnRenamed("LocationID", "PULocationID").withColumnRenamed("Borough", "pickup_borough")
q5_df = merged_df.join(pickup_mapping.select("PULocationID", "pickup_borough"), on="PULocationID", how="left")

dropoff_mapping = borough_mapping.withColumnRenamed("LocationID", "DOLocationID").withColumnRenamed("Borough", "dropoff_borough")
q5_df = q5_df.join(dropoff_mapping.select("DOLocationID", "dropoff_borough"), on="DOLocationID", how="left")
q5_df.show(10)

+------------+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------+---------------+
|DOLocationID|PULocationID|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_borough|dropoff_borough|
+------------+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------+---------------+
|          24|          41|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|     Manhattan|      Manhattan|
|         140|         239|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|     Manhattan|      Manhattan|
|         141|         262|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|     Manhattan|      Manhattan|
|         257|         140|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|     Manhattan|       Brooklyn|
|         239|         246|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|     Manhattan|      Manhattan|
|         143|         143|       1| 2018-01-01 00:29:29|  2018-01-01 00:32:48|              3|          0.5|         1|                 N|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|     Manhattan|      Manhattan|
|         239|          50|       1| 2018-01-01 00:38:08|  2018-01-01 00:48:24|              2|          1.7|         1|                 N|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|                NULL|       NULL|     Manhattan|      Manhattan|
|         238|         239|       1| 2018-01-01 00:49:29|  2018-01-01 00:51:53|              1|          0.7|         1|                 N|           1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|                NULL|       NULL|     Manhattan|      Manhattan|
|          24|         238|       1| 2018-01-01 00:56:38|  2018-01-01 01:01:05|              1|          1.0|         1|                 N|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|                NULL|       NULL|     Manhattan|      Manhattan|
|         170|         170|       1| 2018-01-01 00:17:04|  2018-01-01 00:22:24|              1|          0.7|         1|                 N|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|     Manhattan|      Manhattan|
+------------+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------+---------------+
only showing top 10 rows

In [ ]:
# Updating Dataframe
q5_df = datetime_conversion(q5_df, q5_df.tpep_pickup_datetime, "pickup")
q5_df = q5_df.withColumn("trip_duration_seconds", F.unix_timestamp("tpep_dropoff_datetime") - F.unix_timestamp("tpep_pickup_datetime"))
q5_df.show(10)

+------------+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------+---------------+-----------+------------+----------+-----------+-------------+-------------+------------------+---------------------+
|DOLocationID|PULocationID|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_borough|dropoff_borough|pickup_year|pickup_month|pickup_day|pickup_hour|pickup_minute|pickup_second|pickup_day_of_week|trip_duration_seconds|
+------------+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------+---------------+-----------+------------+----------+-----------+-------------+-------------+------------------+---------------------+
|          24|          41|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|           21|            5|                 2|                  198|
|         140|         239|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|           44|           55|                 2|                 1090|
|         141|         262|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|            8|           26|                 2|                  355|
|         257|         140|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|     Manhattan|       Brooklyn|       2018|           1|         1|          0|           20|           22|                 2|                 1949|
|         239|         246|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|            9|           18|                 2|                 1068|
|         143|         143|       1| 2018-01-01 00:29:29|  2018-01-01 00:32:48|              3|          0.5|         1|                 N|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|           29|           29|                 2|                  199|
|         239|          50|       1| 2018-01-01 00:38:08|  2018-01-01 00:48:24|              2|          1.7|         1|                 N|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|           38|            8|                 2|                  616|
|         238|         239|       1| 2018-01-01 00:49:29|  2018-01-01 00:51:53|              1|          0.7|         1|                 N|           1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|           49|           29|                 2|                  144|
|          24|         238|       1| 2018-01-01 00:56:38|  2018-01-01 01:01:05|              1|          1.0|         1|                 N|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|           56|           38|                 2|                  267|
|         170|         170|       1| 2018-01-01 00:17:04|  2018-01-01 00:22:24|              1|          0.7|         1|                 N|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|     Manhattan|      Manhattan|       2018|           1|         1|          0|           17|            4|                 2|                  320|
+------------+------------+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------------+---------------+-----------+------------+----------+-----------+-------------+-------------+------------------+---------------------+
only showing top 10 rows

In [ ]:
# Filtering Dataframe
q5_df_data = q5_df.select(F.col("pickup_month"), F.col("pickup_day_of_week"), F.col("pickup_hour"),
                          F.col("pickup_borough"), F.col("dropoff_borough"), F.col("trip_distance"),
                          F.col("trip_duration_seconds"), F.col("fare_amount"))
q5_df_data_clean = q5_df_data.dropna()
quantiles = q5_df_data_clean.approxQuantile("fare_amount", [0.25, 0.75], 0.05)
Q1 = quantiles[0]
Q3 = quantiles[1]
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
q5_df_data_no_outliers = q5_df_data_clean.filter((F.col("fare_amount") >= lower_bound) &
                                                 (F.col("fare_amount") <= upper_bound))
q5_df_data_final = q5_df_data_no_outliers.filter(F.col("fare_amount") > 0)
q5_df_data_final.show(10)

+------------+------------------+-----------+--------------+---------------+-------------+---------------------+-----------+
|pickup_month|pickup_day_of_week|pickup_hour|pickup_borough|dropoff_borough|trip_distance|trip_duration_seconds|fare_amount|
+------------+------------------+-----------+--------------+---------------+-------------+---------------------+-----------+
|           1|                 2|          0|     Manhattan|      Manhattan|          0.5|                  198|        4.5|
|           1|                 2|          0|     Manhattan|      Manhattan|          2.7|                 1090|       14.0|
|           1|                 2|          0|     Manhattan|      Manhattan|          0.8|                  355|        6.0|
|           1|                 2|          0|     Manhattan|      Manhattan|          2.5|                 1068|       12.5|
|           1|                 2|          0|     Manhattan|      Manhattan|          0.5|                  199|        4.5|
|           1|                 2|          0|     Manhattan|      Manhattan|          1.7|                  616|        9.0|
|           1|                 2|          0|     Manhattan|      Manhattan|          0.7|                  144|        4.0|
|           1|                 2|          0|     Manhattan|      Manhattan|          1.0|                  267|        5.5|
|           1|                 2|          0|     Manhattan|      Manhattan|          0.7|                  320|        5.5|
|           1|                 2|          0|     Manhattan|      Manhattan|          0.6|                  346|        5.5|
+------------+------------------+-----------+--------------+---------------+-------------+---------------------+-----------+
only showing top 10 rows

In [ ]:
# Filtering Dataframe
pickup_borough_indexer = StringIndexer(inputCol="pickup_borough", outputCol="pickup_borough_index")
dropoff_borough_indexer = StringIndexer(inputCol="dropoff_borough", outputCol="dropoff_borough_index")
feature_columns_q5 = [
    "pickup_month", "pickup_day_of_week", "pickup_hour", "pickup_borough_index",
    "dropoff_borough_index", "trip_distance", "trip_duration_seconds", "fare_amount"
]
assembler_q5 = VectorAssembler(inputCols=feature_columns_q5, outputCol="features")
pipeline = Pipeline(stages=[pickup_borough_indexer, dropoff_borough_indexer, assembler_q5])
assembled_data = pipeline.fit(q5_df_data_final).transform(q5_df_data_final)

In [ ]:
# Split the data into train and test sets
train_data, test_data = assembled_data.randomSplit([0.8, 0.2], seed=310)

In [ ]:
# The RandomForestRegressor model
rf = RandomForestRegressor(featuresCol="features", labelCol="trip_duration_seconds", numTrees=25, maxDepth=10)
rf_model = rf.fit(train_data)

In [ ]:
# Metrics
test_predictions = rf_model.transform(test_data)
evaluator = RegressionEvaluator(labelCol="trip_duration_seconds", predictionCol="prediction", metricName="r2")
test_r2 = evaluator.evaluate(test_predictions)
print(f"Test R2 Error: {test_r2}")

Test R2 Error: 0.8759678044447113

The code predicts taxi fare based on borough-specific factors such as pickup and drop-off boroughs, trip distance, and duration. It first joins the data with borough information, filters out outliers, and prepares features like borough indices and trip attributes. The model uses a RandomForestRegressor to predict fare amounts. The test results show an R² score of 0.88, indicating that the model can explain 88% of the variance in taxi fares, demonstrating strong predictive performance for fare prediction based on borough-specific and trip-related factors.

####6)Predict the tip amount given by passengers based on trip characteristics

In [ ]:
# Creating a function to get datetime information
def datetime_conversion(df, col, prefix):
    return df.withColumn(prefix+"_year", F.year(col)) \
             .withColumn(prefix+"_month", F.month(col)) \
             .withColumn(prefix+"_day", F.dayofmonth(col)) \
             .withColumn(prefix+"_hour", F.hour(col))\
             .withColumn(prefix+"_minute", F.minute(col)) \
             .withColumn(prefix+"_second", F.second(col)) \
             .withColumn(prefix+"_day_of_week", F.dayofweek(col))

In [ ]:
# Updating Dataframe
q6_df = merged_df
q6_df = datetime_conversion(q6_df, q6_df.tpep_pickup_datetime, "pickup")
q6_df = datetime_conversion(q6_df, q6_df.tpep_dropoff_datetime, "dropoff")
q6_df = q6_df.withColumn("trip_duration_seconds", F.unix_timestamp("tpep_dropoff_datetime") - F.unix_timestamp("tpep_pickup_datetime"))
q6_df.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_year|pickup_month|pickup_day|pickup_hour|pickup_minute|pickup_second|pickup_day_of_week|dropoff_year|dropoff_month|dropoff_day|dropoff_hour|dropoff_minute|dropoff_second|dropoff_day_of_week|trip_duration_seconds|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|       2018|           1|         1|          0|           21|            5|                 2|        2018|            1|          1|           0|            24|            23|                  2|                  198|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|       2018|           1|         1|          0|           44|           55|                 2|        2018|            1|          1|           1|             3|             5|                  2|                 1090|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|       2018|           1|         1|          0|            8|           26|                 2|        2018|            1|          1|           0|            14|            21|                  2|                  355|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|       2018|           1|         1|          0|           20|           22|                 2|        2018|            1|          1|           0|            52|            51|                  2|                 1949|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|       2018|           1|         1|          0|            9|           18|                 2|        2018|            1|          1|           0|            27|             6|                  2|                 1068|
|       1| 2018-01-01 00:29:29|  2018-01-01 00:32:48|              3|          0.5|         1|                 N|         143|         143|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|       2018|           1|         1|          0|           29|           29|                 2|        2018|            1|          1|           0|            32|            48|                  2|                  199|
|       1| 2018-01-01 00:38:08|  2018-01-01 00:48:24|              2|          1.7|         1|                 N|          50|         239|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|                NULL|       NULL|       2018|           1|         1|          0|           38|            8|                 2|        2018|            1|          1|           0|            48|            24|                  2|                  616|
|       1| 2018-01-01 00:49:29|  2018-01-01 00:51:53|              1|          0.7|         1|                 N|         239|         238|           1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|                NULL|       NULL|       2018|           1|         1|          0|           49|           29|                 2|        2018|            1|          1|           0|            51|            53|                  2|                  144|
|       1| 2018-01-01 00:56:38|  2018-01-01 01:01:05|              1|          1.0|         1|                 N|         238|          24|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|                NULL|       NULL|       2018|           1|         1|          0|           56|           38|                 2|        2018|            1|          1|           1|             1|             5|                  2|                  267|
|       1| 2018-01-01 00:17:04|  2018-01-01 00:22:24|              1|          0.7|         1|                 N|         170|         170|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|       2018|           1|         1|          0|           17|            4|                 2|        2018|            1|          1|           0|            22|            24|                  2|                  320|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+
only showing top 10 rows

In [ ]:
# Filtering Dataframe
q6_df_data = q6_df.select(F.col("trip_distance"), F.col("fare_amount"), F.col("passenger_count"), F.col("trip_duration_seconds"),
                          F.col("PULocationID"), F.col("DOLocationID"), F.col("pickup_day_of_week"), F.col("pickup_hour"),
                          F.col("dropoff_day_of_week"), F.col("dropoff_hour"), F.col("tip_amount"))
q6_df_data_clean = q6_df_data.dropna()
quantiles = q6_df_data_clean.approxQuantile("tip_amount", [0.25, 0.75], 0.05)
Q1 = quantiles[0]
Q3 = quantiles[1]
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
q6_df_data_no_outliers = q6_df_data_clean.filter((F.col("tip_amount") >= lower_bound) &
                                                 (F.col("tip_amount") <= upper_bound))
q6_df_data_final = q6_df_data_no_outliers.filter(F.col("tip_amount") > 0)
q6_df_data_final.show(10)

+-------------+-----------+---------------+---------------------+------------+------------+------------------+-----------+-------------------+------------+----------+
|trip_distance|fare_amount|passenger_count|trip_duration_seconds|PULocationID|DOLocationID|pickup_day_of_week|pickup_hour|dropoff_day_of_week|dropoff_hour|tip_amount|
+-------------+-----------+---------------+---------------------+------------+------------+------------------+-----------+-------------------+------------+----------+
|          0.8|        6.0|              2|                  355|         262|         141|                 2|          0|                  2|           0|       1.0|
|          2.5|       12.5|              2|                 1068|         246|         239|                 2|          0|                  2|           0|      2.75|
|          1.7|        9.0|              2|                  616|          50|         239|                 2|          0|                  2|           0|      2.05|
|          0.7|        4.0|              1|                  144|         239|         238|                 2|          0|                  2|           0|       1.0|
|          1.0|        5.5|              1|                  267|         238|          24|                 2|          0|                  2|           1|       1.7|
|          0.6|        5.5|              1|                  346|         162|         229|                 2|          0|                  2|           0|      1.35|
|          5.7|       19.0|              1|                 1026|          13|         189|                 2|          0|                  2|           0|      4.05|
|          0.6|        4.5|              2|                  253|         163|         162|                 2|          0|                  2|           0|       1.7|
|         2.93|       14.5|              1|                 1273|          90|         233|                 2|          0|                  2|           0|       2.0|
|          3.0|       12.0|              4|                  775|         161|         146|                 2|          0|                  2|           0|      2.65|
+-------------+-----------+---------------+---------------------+------------+------------+------------------+-----------+-------------------+------------+----------+
only showing top 10 rows

In [ ]:
# VectorAssembler
feature_columns_q6 = [
    "trip_distance", "fare_amount", "passenger_count", "trip_duration_seconds", "PULocationID",
    "DOLocationID", "pickup_day_of_week", "pickup_hour", "dropoff_day_of_week", "dropoff_hour"
]
assembler_q6 = VectorAssembler(inputCols=feature_columns_q6, outputCol="features")
assembled_data = assembler_q6.transform(q6_df_data_final)

In [ ]:
# Split the data into train and test sets
train_data, test_data = assembled_data.randomSplit([0.8, 0.2], seed=310)

In [ ]:
# The RandomForestRegressor model
rf = RandomForestRegressor(featuresCol="features", labelCol="trip_duration_seconds", numTrees=25, maxDepth=10)
rf_model = rf.fit(train_data)

In [ ]:
# Metrics
test_predictions = rf_model.transform(test_data)
evaluator = RegressionEvaluator(labelCol="trip_duration_seconds", predictionCol="prediction", metricName="r2")
test_r2 = evaluator.evaluate(test_predictions)
print(f"Test R2 Error: {test_r2}")

Test R2 Error: 0.9726066850576669

The code predicts the tip amount based on trip characteristics such as trip distance, fare amount, passenger count, and trip duration. It cleans the data by removing outliers, then prepares features and applies a RandomForestRegressor model to predict the tip amount. The test results show an R² score of 0.97, meaning the model explains 97% of the variation in tip amounts. This high R² score demonstrates that the model is effective at predicting passenger tip amounts based on the provided trip attributes.

#### 7)Predict whether a trip will result in a high or low fare based on early trip data

In [ ]:
# Creating a function to get datetime information
def datetime_conversion(df, col, prefix):
    return df.withColumn(prefix+"_year", F.year(col)) \
             .withColumn(prefix+"_month", F.month(col)) \
             .withColumn(prefix+"_day", F.dayofmonth(col)) \
             .withColumn(prefix+"_hour", F.hour(col))\
             .withColumn(prefix+"_minute", F.minute(col)) \
             .withColumn(prefix+"_second", F.second(col)) \
             .withColumn(prefix+"_day_of_week", F.dayofweek(col))

In [ ]:
# Updating Dataframe
q7_df = merged_df
q7_df = datetime_conversion(q7_df, q7_df.tpep_pickup_datetime, "pickup")
q7_df = datetime_conversion(q7_df, q7_df.tpep_dropoff_datetime, "dropoff")
q7_df = q7_df.withColumn("trip_duration_seconds", F.unix_timestamp("tpep_dropoff_datetime") - F.unix_timestamp("tpep_pickup_datetime"))
avg_fare = q7_df.agg(F.avg("fare_amount")).collect()[0][0]
q7_df = q7_df.withColumn("fare_classification",F.when(F.col("fare_amount") > avg_fare, 1).otherwise(2))
q7_df.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_year|pickup_month|pickup_day|pickup_hour|pickup_minute|pickup_second|pickup_day_of_week|dropoff_year|dropoff_month|dropoff_day|dropoff_hour|dropoff_minute|dropoff_second|dropoff_day_of_week|trip_duration_seconds|fare_classification|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|       2018|           1|         1|          0|           21|            5|                 2|        2018|            1|          1|           0|            24|            23|                  2|                  198|                  2|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|       2018|           1|         1|          0|           44|           55|                 2|        2018|            1|          1|           1|             3|             5|                  2|                 1090|                  1|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|       2018|           1|         1|          0|            8|           26|                 2|        2018|            1|          1|           0|            14|            21|                  2|                  355|                  2|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|       2018|           1|         1|          0|           20|           22|                 2|        2018|            1|          1|           0|            52|            51|                  2|                 1949|                  1|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|       2018|           1|         1|          0|            9|           18|                 2|        2018|            1|          1|           0|            27|             6|                  2|                 1068|                  2|
|       1| 2018-01-01 00:29:29|  2018-01-01 00:32:48|              3|          0.5|         1|                 N|         143|         143|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|       2018|           1|         1|          0|           29|           29|                 2|        2018|            1|          1|           0|            32|            48|                  2|                  199|                  2|
|       1| 2018-01-01 00:38:08|  2018-01-01 00:48:24|              2|          1.7|         1|                 N|          50|         239|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|                NULL|       NULL|       2018|           1|         1|          0|           38|            8|                 2|        2018|            1|          1|           0|            48|            24|                  2|                  616|                  2|
|       1| 2018-01-01 00:49:29|  2018-01-01 00:51:53|              1|          0.7|         1|                 N|         239|         238|           1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|                NULL|       NULL|       2018|           1|         1|          0|           49|           29|                 2|        2018|            1|          1|           0|            51|            53|                  2|                  144|                  2|
|       1| 2018-01-01 00:56:38|  2018-01-01 01:01:05|              1|          1.0|         1|                 N|         238|          24|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|                NULL|       NULL|       2018|           1|         1|          0|           56|           38|                 2|        2018|            1|          1|           1|             1|             5|                  2|                  267|                  2|
|       1| 2018-01-01 00:17:04|  2018-01-01 00:22:24|              1|          0.7|         1|                 N|         170|         170|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|       2018|           1|         1|          0|           17|            4|                 2|        2018|            1|          1|           0|            22|            24|                  2|                  320|                  2|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+
only showing top 10 rows

In [ ]:
# Filtering Dataframe
q7_df_data = q7_df.select(F.col("passenger_count"), F.col("PULocationID"), F.col("pickup_day_of_week"), F.col("pickup_hour"), F.col("fare_classification"))
q7_df_data_clean = q7_df_data.dropna()
q7_df_data_clean.show(10)

+---------------+------------+------------------+-----------+-------------------+
|passenger_count|PULocationID|pickup_day_of_week|pickup_hour|fare_classification|
+---------------+------------+------------------+-----------+-------------------+
|              1|          41|                 2|          0|                  2|
|              1|         239|                 2|          0|                  1|
|              2|         262|                 2|          0|                  2|
|              1|         140|                 2|          0|                  1|
|              2|         246|                 2|          0|                  2|
|              3|         143|                 2|          0|                  2|
|              2|          50|                 2|          0|                  2|
|              1|         239|                 2|          0|                  2|
|              1|         238|                 2|          0|                  2|
|              1|         170|                 2|          0|                  2|
+---------------+------------+------------------+-----------+-------------------+
only showing top 10 rows

In [ ]:
# VectorAssembler
feature_columns_q7 = [
    "passenger_count", "PULocationID", "pickup_day_of_week", "pickup_hour"
]
assembler_q7 = VectorAssembler(inputCols=feature_columns_q7, outputCol="features")
assembled_data = assembler_q7.transform(q7_df_data_clean)

In [ ]:
# Split the data into train and test sets
train_data, test_data = assembled_data.randomSplit([0.8, 0.2], seed=310)

In [ ]:
# Logistic regression
lr = LogisticRegression(featuresCol="features", labelCol="fare_classification",
                        regParam=0.1, elasticNetParam=0.5, maxIter=20)
lr_model = lr.fit(train_data)

In [ ]:
# Metrics
test_predictions = lr_model.transform(test_data)
f1_evaluator = MulticlassClassificationEvaluator(labelCol="fare_classification", predictionCol="prediction", metricName="f1")
f1_score = f1_evaluator.evaluate(test_predictions)
print(f"Test F1 Score: {f1_score}")
multi_evaluator = MulticlassClassificationEvaluator(labelCol="fare_classification", predictionCol="prediction", metricName="accuracy")
accuracy = multi_evaluator.evaluate(test_predictions)
print(f"Test Accuracy: {accuracy}")

Test F1 Score: 0.5743826949933684
Test Accuracy: 0.6984029060515309

The code predicts whether a taxi trip will result in a high or low fare based on early trip data like passenger count, pickup location, and time. The fare amount is classified into two categories (high or low) based on the average fare. A logistic regression model is then trained to predict fare classification. The test results show an accuracy of 69.8% and an F1 score of 0.57, indicating that the model can moderately classify trips into high or low fare categories based on early trip information.

#### 8)Identify and predict traffic congestion hotspots based on trip patterns and times

In [ ]:
# Creating a function to get datetime information
def datetime_conversion(df, col, prefix):
    return df.withColumn(prefix+"_year", F.year(col)) \
             .withColumn(prefix+"_month", F.month(col)) \
             .withColumn(prefix+"_day", F.dayofmonth(col)) \
             .withColumn(prefix+"_hour", F.hour(col))\
             .withColumn(prefix+"_minute", F.minute(col)) \
             .withColumn(prefix+"_second", F.second(col)) \
             .withColumn(prefix+"_day_of_week", F.dayofweek(col))

In [ ]:
# Updating Dataframe
q8_df = merged_df
q8_df = datetime_conversion(q8_df, q8_df.tpep_pickup_datetime, "pickup")
q8_df = datetime_conversion(q8_df, q8_df.tpep_dropoff_datetime, "dropoff")
q8_df = q8_df.withColumn("trip_duration_seconds", F.unix_timestamp("tpep_dropoff_datetime") - F.unix_timestamp("tpep_pickup_datetime"))
avg_fare = q8_df.agg(F.avg("fare_amount")).collect()[0][0]
q8_df = q8_df.withColumn("fare_classification",F.when(F.col("fare_amount") > avg_fare, 1).otherwise(2))
q8_df.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_year|pickup_month|pickup_day|pickup_hour|pickup_minute|pickup_second|pickup_day_of_week|dropoff_year|dropoff_month|dropoff_day|dropoff_hour|dropoff_minute|dropoff_second|dropoff_day_of_week|trip_duration_seconds|fare_classification|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|       2018|           1|         1|          0|           21|            5|                 2|        2018|            1|          1|           0|            24|            23|                  2|                  198|                  2|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|       2018|           1|         1|          0|           44|           55|                 2|        2018|            1|          1|           1|             3|             5|                  2|                 1090|                  1|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|       2018|           1|         1|          0|            8|           26|                 2|        2018|            1|          1|           0|            14|            21|                  2|                  355|                  2|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|       2018|           1|         1|          0|           20|           22|                 2|        2018|            1|          1|           0|            52|            51|                  2|                 1949|                  1|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|       2018|           1|         1|          0|            9|           18|                 2|        2018|            1|          1|           0|            27|             6|                  2|                 1068|                  2|
|       1| 2018-01-01 00:29:29|  2018-01-01 00:32:48|              3|          0.5|         1|                 N|         143|         143|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|       2018|           1|         1|          0|           29|           29|                 2|        2018|            1|          1|           0|            32|            48|                  2|                  199|                  2|
|       1| 2018-01-01 00:38:08|  2018-01-01 00:48:24|              2|          1.7|         1|                 N|          50|         239|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|                NULL|       NULL|       2018|           1|         1|          0|           38|            8|                 2|        2018|            1|          1|           0|            48|            24|                  2|                  616|                  2|
|       1| 2018-01-01 00:49:29|  2018-01-01 00:51:53|              1|          0.7|         1|                 N|         239|         238|           1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|                NULL|       NULL|       2018|           1|         1|          0|           49|           29|                 2|        2018|            1|          1|           0|            51|            53|                  2|                  144|                  2|
|       1| 2018-01-01 00:56:38|  2018-01-01 01:01:05|              1|          1.0|         1|                 N|         238|          24|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|                NULL|       NULL|       2018|           1|         1|          0|           56|           38|                 2|        2018|            1|          1|           1|             1|             5|                  2|                  267|                  2|
|       1| 2018-01-01 00:17:04|  2018-01-01 00:22:24|              1|          0.7|         1|                 N|         170|         170|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|       2018|           1|         1|          0|           17|            4|                 2|        2018|            1|          1|           0|            22|            24|                  2|                  320|                  2|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+
only showing top 10 rows

In [ ]:
# Updating Dataframe
q8_df = q8_df.withColumn("congestion_indicator", when(col("congestion_surcharge").isNull(), 0).otherwise(1))
q8_df.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|pickup_year|pickup_month|pickup_day|pickup_hour|pickup_minute|pickup_second|pickup_day_of_week|dropoff_year|dropoff_month|dropoff_day|dropoff_hour|dropoff_minute|dropoff_second|dropoff_day_of_week|trip_duration_seconds|fare_classification|congestion_indicator|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+--------------------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|       2018|           1|         1|          0|           21|            5|                 2|        2018|            1|          1|           0|            24|            23|                  2|                  198|                  2|                   0|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|       2018|           1|         1|          0|           44|           55|                 2|        2018|            1|          1|           1|             3|             5|                  2|                 1090|                  1|                   0|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|       2018|           1|         1|          0|            8|           26|                 2|        2018|            1|          1|           0|            14|            21|                  2|                  355|                  2|                   0|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|       2018|           1|         1|          0|           20|           22|                 2|        2018|            1|          1|           0|            52|            51|                  2|                 1949|                  1|                   0|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|       2018|           1|         1|          0|            9|           18|                 2|        2018|            1|          1|           0|            27|             6|                  2|                 1068|                  2|                   0|
|       1| 2018-01-01 00:29:29|  2018-01-01 00:32:48|              3|          0.5|         1|                 N|         143|         143|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|       2018|           1|         1|          0|           29|           29|                 2|        2018|            1|          1|           0|            32|            48|                  2|                  199|                  2|                   0|
|       1| 2018-01-01 00:38:08|  2018-01-01 00:48:24|              2|          1.7|         1|                 N|          50|         239|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|                NULL|       NULL|       2018|           1|         1|          0|           38|            8|                 2|        2018|            1|          1|           0|            48|            24|                  2|                  616|                  2|                   0|
|       1| 2018-01-01 00:49:29|  2018-01-01 00:51:53|              1|          0.7|         1|                 N|         239|         238|           1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|                NULL|       NULL|       2018|           1|         1|          0|           49|           29|                 2|        2018|            1|          1|           0|            51|            53|                  2|                  144|                  2|                   0|
|       1| 2018-01-01 00:56:38|  2018-01-01 01:01:05|              1|          1.0|         1|                 N|         238|          24|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|                NULL|       NULL|       2018|           1|         1|          0|           56|           38|                 2|        2018|            1|          1|           1|             1|             5|                  2|                  267|                  2|                   0|
|       1| 2018-01-01 00:17:04|  2018-01-01 00:22:24|              1|          0.7|         1|                 N|         170|         170|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|       2018|           1|         1|          0|           17|            4|                 2|        2018|            1|          1|           0|            22|            24|                  2|                  320|                  2|                   0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+------------+----------+-----------+-------------+-------------+------------------+------------+-------------+-----------+------------+--------------+--------------+-------------------+---------------------+-------------------+--------------------+
only showing top 10 rows

In [ ]:
# Filtering Dataframe
q8_df_data = q8_df.select(F.col("passenger_count"), F.col("trip_distance"), F.col("PULocationID"), F.col("DOLocationID"),
                          F.col("fare_amount"), F.col("pickup_day_of_week"), F.col("pickup_hour"),F.col("congestion_indicator"))
q8_df_data_clean = q8_df_data.dropna()
q8_df_data_clean.show(10)

+---------------+-------------+------------+------------+-----------+------------------+-----------+--------------------+
|passenger_count|trip_distance|PULocationID|DOLocationID|fare_amount|pickup_day_of_week|pickup_hour|congestion_indicator|
+---------------+-------------+------------+------------+-----------+------------------+-----------+--------------------+
|              1|          0.5|          41|          24|        4.5|                 2|          0|                   0|
|              1|          2.7|         239|         140|       14.0|                 2|          0|                   0|
|              2|          0.8|         262|         141|        6.0|                 2|          0|                   0|
|              1|         10.2|         140|         257|       33.5|                 2|          0|                   0|
|              2|          2.5|         246|         239|       12.5|                 2|          0|                   0|
|              3|          0.5|         143|         143|        4.5|                 2|          0|                   0|
|              2|          1.7|          50|         239|        9.0|                 2|          0|                   0|
|              1|          0.7|         239|         238|        4.0|                 2|          0|                   0|
|              1|          1.0|         238|          24|        5.5|                 2|          0|                   0|
|              1|          0.7|         170|         170|        5.5|                 2|          0|                   0|
+---------------+-------------+------------+------------+-----------+------------------+-----------+--------------------+
only showing top 10 rows

In [ ]:
# VectorAssembler
feature_columns_q8 = [
    "passenger_count", "trip_distance", "PULocationID", "DOLocationID",
    "fare_amount", "pickup_day_of_week", "pickup_hour"
]
assembler_q8 = VectorAssembler(inputCols=feature_columns_q8, outputCol="features")
assembled_data = assembler_q8.transform(q8_df_data_clean)

In [ ]:
# Split the data into train and test sets
train_data, test_data = assembled_data.randomSplit([0.8, 0.2], seed=310)

In [ ]:
# Logistic regression
lr = LogisticRegression(featuresCol="features", labelCol="congestion_indicator",
                        regParam=0.1, elasticNetParam=0.5, maxIter=20)
lr_model = lr.fit(train_data)

In [ ]:
# Metrics
test_predictions = lr_model.transform(test_data)
f1_evaluator = MulticlassClassificationEvaluator(labelCol="congestion_indicator", predictionCol="prediction", metricName="f1")
f1_score = f1_evaluator.evaluate(test_predictions)
print(f"Test F1 Score: {f1_score}")
multi_evaluator = MulticlassClassificationEvaluator(labelCol="congestion_indicator", predictionCol="prediction", metricName="accuracy")
accuracy = multi_evaluator.evaluate(test_predictions)
print(f"Test Accuracy: {accuracy}")

Test F1 Score: 0.9999998609917207
Test Accuracy: 0.9999999073278123

The code predicts traffic congestion hotspots based on trip patterns and times by creating a congestion indicator variable based on the presence of a congestion surcharge. The model uses features like passenger count, trip distance, pickup location, fare amount, and time of day to predict congestion. A logistic regression model is trained, and the results show a near-perfect F1 score (0.9999) and accuracy (0.9999), indicating that the model effectively identifies areas with high traffic congestion based on the available trip data.